.section {
  width: calc(100vw);
  height: calc(100vh);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 1.5em;
  margin: 0px;
  background-color: black; /* Fallback color */
  background-image: url('../SectionLoadingCurtain/img/01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Needed for absolute positioning of children */
  color: white; /* Adding default color for text */
}

.center-content {
  text-align: center;
}

h2 {
    font-size: .8em;
    margin: 0em 0;
    font-weight: 300;
}

h1{
    font-size: 4.5em;
    margin: 0.2em 0;
    font-weight: 600;
}

.top-left-text {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 0.5em;
}

.top-left-text p {
    margin: 0;
}

.bottom-right-box {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 450px;
  height: 206px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 26px;
  box-sizing: border-box;
  color: white;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  gap: 0.5em;
}

.bottom-right-box h3 {
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 0.02em;
}

.bottom-right-box p {
  margin: 0;
  font-size: 1em;
  margin-bottom: 0.01em
}

.bottom-right-box button {
  margin-top: 8px;
  background-color: #353530;
  color: white;
  border: none;
  padding: 8px 10px 8px 30px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 1.2em;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 12px; /* Space between text and icon */
}

.bottom-right-box button .icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevents circle from shrinking */
  transition: transform 0.3s ease; 
}

.bottom-right-box button .icon-circle img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease; 
}

/* Hover effect */
.bottom-right-box button:hover .icon-circle {
  transform: scale(1.05);
}

/* Loading curtain styles */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}