.section {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 32px;
  overflow: hidden;
}

.grid {
  position: relative;
  width: 100%;
  height: 100%;
}

.column {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color:bisque;

  h2 {
    color: black;
    font-size: 56px;
  }
}

.primary {
  z-index: 2;
  justify-content: flex-end;
  padding-right: 20px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.secondary {
  z-index: 1;
  background-color: beige;
}

.tertiary {
  z-index: 2;
  justify-content: flex-start;
  padding-left: 20px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
