.manga-reading-container {
  padding: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
}

.manga-section {
  margin-bottom: 40px;
  text-align: left;

  &__title {
    font-size: 2em;
    margin-bottom: 15px;
    color: #c9c9c9;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    text-align: left;
  }

  &__viewport {
    width: 100%;
    overflow: hidden;
    cursor: default;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.is-draggable {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &__cards-container {
    display: flex;
    width: max-content;
    padding: 0 10px 15px 10px;

    // Cuando no es draggable
    &:not(.is-draggable) {
      .manga-card {
        // Solo deshabilitar eventos en la imagen y título
        &__image, &__title {
          pointer-events: none;
        }
      }
    }
  }
}